.list {
  list-style: none;
  margin: 0 auto;
  box-shadow: inset 0 2px 11px black;
  background: #2f2f2f;
}

.item {
  margin: 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  text-shadow: 0px 2px 1px black;
  color: #fff;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.item:active {
  background: rgba(0, 0, 0, 0.4);
}

.list .item:first-child {
  padding-top: 30px;
}

.list .item:last-child {
  padding-bottom: 30px;
}

.name {
  flex-grow: 1;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 50px;
  white-space: nowrap;
}

.date {
  flex-grow: 0;
  font-size: 2rem;
}

@media (max-width: 640px) {
  .item {
    align-items: initial;
    flex-direction: column;
  }
  .name {
    font-size: 0.5rem;
    padding: 15px 0 5px;
  }
  .date {
    padding: 0;
  }
}
