.select {
  display: flex;
  flex-direction: column;
}

.form {
  flex-shrink: 0;
}

.list {
  margin: 20px 0 0 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  color: #000;
  flex-grow: 1;
  list-style: none;
  border-radius: 3px;
}

.button,
.item {
  font-size: 1rem;
  box-sizing: border-box;
}

.button {
  composes: secondaryButton from '../../styles.css';
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.button,
.item {
  margin: 0;
  width: 100%;
}

.input {
  composes: input from '../../styles.css';
  width: 100%;
  display: block;
}

.message {
  text-align: center;
  padding: 20px;
}
