.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.button,
.item {
  font-size: 1rem;
  box-sizing: border-box;
}

.button {
  padding: 10px 20px;
  border: 0;
}

.button:focus {
  background: orange;
}

.button,
.item {
  margin: 0;
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  z-index: 1;
  position: fixed;
  overflow: auto;
  top: 20px;
  right: 20px;
  bottom: 80px;
  left: 20px;
  background: #fff;
  color: #000;
}

.form {
  position: absolute;
  bottom: 0;
  z-index: 0;
  right: 0;
  left: 0;
}

.input {
  padding: 10px 20px;
  font-size: 1rem;
  border: 0;
  width: 100%;
  display: block;
}
