.select {
  border: 1px solid black;
  padding: 10px;
  min-width: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.isOpen,
.isOpen .list,
.isOpen .form {
  z-index: 1;
  position: relative;
}
