.form {
  display: flex;
  flex-direction: column;
}

.fieldset {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 0;
}

.footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.input {
  composes: input from '../../styles.css';
  width: 4rem;
  text-align: center;
}

.separator {
  color: #000;
  display: inline-block;
  margin: 0 20px;
}
