html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 2em;
  background: #181818;
  color: #fff;
  font-family: 'Overpass Mono', monospace;
}

.header,
.footer {
  height: 85px;
  padding: 20px;
  box-sizing: border-box;
}

.list {
  overflow: auto;
  padding: 0;
  height: calc(100vh - 170px);
}

.header {
  color: #ec8600;
  font-weight: 700;
}

.select {
  position: absolute;
  height: 100%;
  width: 100%;
}

.timeZoneEditor {
  height: 100%;
}

.timeZoneSelectModal {
  height: 70vh;
  width: 70vw;
}

@media (min-width: 640px) {
  .app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    padding: 20px 0;
    text-align: right;
  }
}
